<!--{{include.content}}-->

<ul style="list-style-type:none;">

  {% assign sorted = (site.my_collections | sort: 'date') | reverse %}
  {% for item in sorted %}
    {% if item.relative_path contains {{include.content}} %}

      <span class="block">
      <img class="left-img" src={{ item.picture }}>
        <li>
          <div class="smallcap" id="h2"><a href="{{ item.url }}">{{ item.title }}</a></div>
          <div class="post-meta"><time datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">{{ item.date | date: "%b %d, %Y" }}</time></div>
          <p>{{ item.excerpt | markdownify }}</p> 
        </li>
      </span>

    {% endif %}
  {% endfor %}

</ul>
