<!--{{include.content}}-->

<ul style="list-style-type:none;">
        {% assign count = 0 %}
      
        {% assign sorted = (site.my_collections | sort: 'date') | reverse %}
        {% for item in sorted %}
          {% if item.relative_path contains {{include.param1}} %}
      
            {% if count == 0 %}
              <h2 class="smallcap" id="center"> {{include.param2}}</h2>
            {% endif %}
      
            <span class="block">
            <img class="left-img" src={{ item.picture }}>
              <li>
                {{ item.title }}
                <div class="post-meta"><time datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">{{ item.date | date: "%b, %Y" }}</time></div>
                <br>
                {{item.authors}} <br>
                <i>{{item.publisher}}</i>
	            <a href="{{item.authors}}">PDF</a>
                <p>{{ item.excerpt | markdownify }}</p> 
              </li>
            </span>
          {% assign count = 1 %}
      
          {% endif %}
        {% endfor %}
      
          <div class="site-bar"></div>
      </ul>
      