<!--{{include.content}}-->

{% assign count = 0 %}

{% assign sorted = (site.my_collections | sort: 'date') | reverse %}
{% for item in sorted %}
  {% if item.relative_path contains {{include.param1}} %}

    {% if count == 0 %}
      <h2 class="headers"> {{include.param2}}</h2>
    {% endif %}

      <img class="left-img" src={{ item.picture }}>
        <div class="projects-text">
          {{ item.title }}
          <div class="date-time"><time datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">{{ item.date | date: "%b, %Y" }}</time></div>
          <br>
            {{item.authors}} 
          <br>
          <i>{{item.publisher}}</i>
          <a href="{{item.link}}">PDF</a>
          <p>{{ item.excerpt | markdownify }}</p> 
        </div>
  {% assign count = 1 %}

  {% endif %}
{% endfor %}

<div class="site-bar"></div>


  