<!--{{include.content}}-->

<ul style="list-style-type:none;">
    {% assign count = 0 %}

    {% assign sorted = (site.my_collections | sort: 'date') | reverse %}
    {% for item in sorted %}
      {% if item.relative_path contains {{include.param1}} %}
  
        {% if count == 0 %}
          <h2 class="headers" id="center"> {{include.param2}}</h2>
        {% endif %}
  
        <span class="block">
        <img class="left-img" src={{ item.picture }}>
          <li class="headers" id="h2"> {{ item.title }} </li>
          <i>{{ item.relation }}</i>
          <br>
          <br>
          <li> {{ item.company }} </li>
          <li> {{ item.occupation }} </li>

        </span>
      {% assign count = 1 %}
  
      {% endif %}
    {% endfor %}
  
      <div class="site-bar"></div>
  </ul>
  