<!--{{include.content}}-->

<div class="row">

{% assign count = 0 %}

{% assign sorted = (site.content | sort: 'date') | reverse %}
{% for item in sorted %}
  {% if item.relative_path contains {{include.param1}} %}

    {% if count == 0 %}
      <h2 class="headers" id="center"> {{include.param2}}</h2>
    {% endif %}

    <div class="column">
    <img class="left-img" src={{ item.picture }}>

      <div class="photo-titles">
        <div style="margin-top: 240px;" id="h2"> {{ item.title }} </div>
          <div>{{ item.relation }}</div>
          <br>
          <div> {{ item.company }} </div>
          <div> {{ item.occupation }} </div>
      </div>
    </div>

  {% assign count = 1 %}

  {% endif %}
{% endfor %}
</div>

<div class="site-bar"></div>
