
//background video
.banner {
    position: relative;
    overflow: hidden;
  }

  .banner__video {
    transform: translateX(-30%) translateY(-20%);
    z-index: -1;
  }
  
  @media only screen and (min-width: 481px) {
  .banner__video {
    transform: translateX(-18%) translateY(-20%);
    z-index: -1;
  }}



  // recenter main content
  .loc {
    position: absolute;
    left: 20px;
    top: 300px;
  }
  @media only screen and (min-width: 481px) {
  .loc {
    position: absolute;
    left: 20px;
    top: 175px;
  }}