.left-img {
  float: left;
  //padding-right: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.self-img{
  float: left;
  padding-right: 10px;
  width: 170px;
  height: 170px;
  object-fit: cover;
}


.post-img {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding-right: 20px;
  padding-bottom: 30px;
}




@media (max-width: 768px) {
  .post-img {
    float: none; /* Remove float on mobile */
    padding-left: 0;
    padding-right: 0;
    width: 60vw;
    height: 60vw;
    margin: 0 auto; /* Center image horizontally */
    display: block; /* Ensure it's treated as a block-level element */
}
  .self-img {
      float: none;
      display: block;  /* Makes image take up full width and move text below */
      padding-bottom: 100ps;
      margin: 0 auto 20px;  /* Centers image horizontally */
      max-width: 100%; /* Ensures it scales responsively */
      height: auto;
  }
  .left-img {
    padding-left: 17vw;
    padding-right: 16vw;
    width: 60vw;
    height: 60vw;
    object-fit: cover;
  }

}
