/**
 * Site header
 */

#reduce_pad {
    padding-bottom: 50px !important;
}

.site-header {
    border-bottom: 1px solid $grey-color-light;
    text-align: left;
    padding: 1rem 0;
}

//needs to move
.site-bar {
    width: 95%; /* Adjust as needed */
    border-bottom: 1px solid $grey-color-light;
    margin-top: 100px; 
    margin-bottom: 20px;
}

.site-title {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -1px;
    color: $grey-color-dark;

    &,
    &:hover {
        text-decoration: none;
    }
}

// text block
.block {
  clear: left;
  display:block;
  height: 200px;
  width: 95%;
}

.headers {
    padding-bottom: 0%;
    margin-bottom: 30px;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #ff007f;
    font-weight: 900;
    font-size: 30px;
    margin-top: 20px;


    // increase size of first letter
    &::first-letter {
        text-transform: uppercase;
    }
}

.photo-titles {
    font-weight:50; 
    margin-top: 205px;
    padding-right: 0px; 
    text-align:center;
}



#pad {
    padding-top: 20px;
    font-size: 1.5em
}

#center {
    padding-top: 20px;
    padding-right: 28px;
    text-align: center;
}

#h2 {
    font-size: 1.2em
}


/*******************
******* all below may be trash...
*********/

/**
 * Page content
 */
.page-content {
    position: relative;
    max-width: 48rem;
    padding: $spacing-unit ($spacing-unit * 0.75);
    margin: 0 auto;
    box-sizing: border-box;
}

/**
 * main text formatting
 */
.main {
    //display: flex;
    padding-top: 0px; 
    padding-right: 40px;
    padding-left: 20px;
    margin-top: 0px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1;
}

.date-time {
    font-size: $small-font-size;
    display: block;
    padding-bottom: 1px; /* Small padding prevents collapse */
}

.post-content {
    margin-bottom: $spacing-unit;

    h1, h2, h3,
    h4, h5, h6 {
        margin-top: 2rem;
    }

    h1,
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5,
    h6 {
        font-size: 1rem;
    }
}

.projects-text{
    padding-left: 220px;
}

/**
 * Mobile Rendering
 */ 
@media (max-width: 768px) { // mobile versions
    .main{
        padding-top: 15px; 
        padding-left: 10px;
        padding-right: 25px;
    }
    .headers{
        margin-top: 0px;
        text-align: center;
    }
    .mobile-margins{
        margin-left: 10px;
        margin-right: 25px;
    }
    .photo-titles{
        padding-right: 0;
    }
    .projects-text{
        padding-left: 0px;
        padding-top: 250px;
    }
    .site-bar {
        width: 95%; /* Adjust as needed */
    }
}