<!DOCTYPE html>
<html>
  {% include head.html %} 
  <body>
   <div class="page-content">
    <header class="site-header">
      <a class="site-title">Abhay Gupta</a>
   </header>

    <header class="site-bar">
     {% include navigation.html %}
    </header>

    <div class="banner">
      <video autoplay loop muted class="banner__video">
        <source src="videos/background/percolation.mp4" type="video/mp4">
      </video>
    </div>

    <div class ="loc">
      {{ content }}
    </div>
  </div>
    {% include ga.html %}
  </body>
</html>
