<!DOCTYPE html>
<html>
  {% include head.html %} 
  <body>
   <div class="page-content">
    <header class="site-header">
      <a class="site-title">Abhay Gupta</a>
   </header>

    <header class="site-bar">
     {% include navigation.html %}
    </header>

      {% assign x =  site.time | date: "%s" | modulo:5 %}
      {% assign video = "videos/background/percolation" | append: '' | append: ".mp4" %}
      <!--{{ video }}-->
      {{ site.time | date: "%s" | modulo:5 }}

      {% assign min = 65 %}
      {% assign max = 80 %}
      {% assign diff = max | minus: min %}
      {% assign randomNumber = "now" | date: "%N" %}
      {{randomNumber}}
 
    <div class="banner">
      <video autoplay loop muted class="banner__video">
        <source src= {{video}} type="video/mp4">
      </video>
    </div>

    <div class ="loc">

      {{ content }}
     
    </div>
  </div>
    {% include ga.html %}
  </body>
</html>
