---
layout: default
permalink: projects.html
---

<h2 class="headers" id="center"> 
    Projects
</h2>

<section class="main" style="padding-bottom: 30px;">
I document most of my projects at <a href="https://notes.abgup.com">https://notes.abgup.com</a>
</section>

<section class="main" style="padding-bottom: 30px;">
    Most of my projects tend to be community focused. They often revolve around <a href="http://www.sjbikeclinic.org/"> bicycle</a> or <a href="https://www.autoangels.org/">car</a> repairs, <a href="https://www.firstinspires.org/robotics/frc">teaching</a> engineering skills, or various <a href="https://www.instagram.com/p/DF9KKmpviq5/">electronics</a> and software projects work.
</section>

{% include blog-content.html param1="software_projects" param2="Software Based Projects"%}

{% include blog-content.html param1="hardware_projects" param2="Hardware Based Projects"%}


{% include papers.html param1="journal_papers" param2="Journal Papers"%}

{% include papers.html param1="patents" param2="Patents"%}
